img {
    width: 300px;
    border: 5px solid tan;
    margin: auto;
    box-shadow: 0px 10px 20px black;
}
h1 {
    text-align: center;
    font-family: Lobster;
}

a {
    color: firebrick;
    padding: 5px 5px 5px 5px;
}
a:hover {
    color: darkkhaki;
}

h2 {
    font-size: 21px;
    text-align: center;
}

body {
    background: url("BackgroundJobs.jpg");
    
}

/* index home */
.contains {
    text-align: center;

}
.info {

}

/* Education home */
